version: '3'

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    user: {{ vaultwarden_user_id }}:{{ vaultwarden_group_id }}
    restart: unless-stopped
    ports:
      - {{ vaultwarden_port }}:8283
    volumes:
      - /home/vaultwarden/vaultwarden/data:/data
    environment:
      - ROCKET_PORT=8283
{% for c in vaultwarden_env_config %}
      - {{ c }}={{ vaultwarden_env_config[c] }}
{% endfor %}

